.message {
  box-shadow: 20px 20px #2a76b4;
}

@media screen and (max-width: 768px) {
  .game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-section {
    width: 250px !important;
    top: 120px;
  }

  .game-section img {
    width: 200px;
  }

  .message {
    font-size: 1rem;
    margin-top: -30px;
  }

  .xo-grid {
    width: 230px !important;
    height: 235px !important;
  }

  .cell {
    width: 70px !important;
    height: 70px !important;
  }
}
